.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 50px;
  width: 100%;
  //max-width: $content-width;
  min-height: 100%;
  background: linear-gradient(
    90deg,
    rgba(131, 102, 177, 1) 0%,
    rgba(152, 214, 185, 1) 28%,
    rgba(173, 148, 214, 1) 71%,
    rgba(66, 206, 235, 1) 100%
  );
}


