.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 92vh;
  border-radius: 20px;
  background: white;

  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: "-moz-fit-content";
    height: 60px;
    background: white;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 0 5px;

    label {
      display: flex;
      font-size: 20px;
      line-height: 1.2;
      font-weight: 600;
    }

    input[type="text"] {
      width: 50%;
      height: 30px;
      font-size: 20px;
      line-height: 1.25;
      font-weight: 400;
      margin-left: 20px;
      padding: 10px 20px;
      border-radius: 10px;
      border: none;
      background: rgb(238, 233, 233);

      &:focus {
        border: 1px solid gray;
      }
    }
  }

  .grid {
    display: grid;
    margin: 15px;
    grid-template-columns: repeat(4, 1fr);
    width: calc(100% - 2 * 15px);
    height: 100%;
    gap: 15px;
    overflow: hidden;

    @media screen and (max-width: 1440px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 1100px) {
      grid-template-columns: repeat(2, 1fr);
    }

  }
}
